*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

img{
    width: 100%;
    display: block;
}

.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
/* topbar start  */
.topbar {
    background: #222328;
    color: #919194;
}

.topbar .icons{
    padding: 1rem 0;
    padding-right: 60px;
    border-right: 1px solid #545454;
}

.topbar .icons i{
    margin-right: 10px;
}

.topbar ul li:first-child{
    margin-right: 2rem;
}
.topbar ul li  {
    color: white;
}
.topbar ul li span{
    color: #919194;
    margin-right: 0.5rem;
}
/* topbar end  */